-- import Layout from '../layouts/Layout.astro'

<Layout> <main> <h1>Velkommen til Fresj</h1> <p> Du er veldig, veldig tidlig
ute, men vi kan røpe at Fresj gjør det veldig, veldig enkelt å få bedre flyt i
bedriften. Det gjør vi med en AI-drevet teknologiløsning. </p> <p> I løpet av
den neste tiden vil det komme en del informasjon om alt dette, og mye mer. Enn
så lenge kan du følge oss på <a
href="https://linkedin.com/company/fresj">sosiale medier</a>, eller <a
href="https://tally.so/r/npROd1">melde din interesse</a> for å bli en av de
første til å teste ut Fresj. </p> </main> </Layout> <style> main { max-width:
60ch; } </style>
